@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #2e3a4a;
}

body {
    background-color: #ececed;
    padding: 10px;
}

main {
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.200);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/*#menuProfile {
    background-color: #9582ff;
    width: 140px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    position: fixed;
    margin-top: 20px;
    right: 50px;
}*/

#menuProfile {
    position: absolute;
    top: 60px; /* ajusta conforme sua imagem */
    right: 50px;
    width: 130px;
    background-color: #e9eaf2;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#menuProfile > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

#TodaysHabits_Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24

}

#TodaysHabits, #leaderboard {
    background-color: #fcfcfc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.200);
}

#listHabits {
    margin: 20px 0px;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

progress {
    border-radius: 15px; 
    width: 80%;
    height: 30px;
}
progress::-webkit-progress-bar {
    background-color: #e9eaf2;
    border-radius: 15px;
}
progress::-webkit-progress-value {
    background-color: #9582ff;
    border-radius: 15px;
}

#listLeader {
    margin-top: 20px;
    font-size: 20px;
}

